body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url("car-bg.jpg");
}
header{
    display: flex;
    justify-content: space-around;
    margin-top:250px;

}
h1{
    color:white;
    font-size:50px;
    margin-top:0px;
    margin-left:200px;
}
a{
    text-decoration: none;
    color:white;
    font-size: 19px;
    margin:20px;
}

button{
    background-color: skyblue;
    color:white;
    border: none;
    font-size: 20px;
    padding:10px 15px;
}